@import 'colors.scss';
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.fadeIn{
  animation: fadeIn 0.2s eas-in;
}

*, *:before, *:after {
  box-sizing: inherit;
}
body{
  margin:auto;
  display:block;
  text-align:center;
  background-color:$flagwhite;
  font-family:Ubuntu;
  color:$flagdarkblue;
  width: 360px;
}
#app{
  display: block;
  background-color:$flagwhite;
  width:360px;
}

button{
  color:$flagwhite;
  background-color:$flagblue;
  border:none;
}
h1{
font-family:"Ubuntu";
  font-weight:bold;
  font-size:2em;
}
a{
  color:$flagblue;
}
div[role=group] input{
  display:inline-block;
  font-weight:bold;
  font-size:1.1em;

}
div[role=group] textarea{
  display:inline-block;
  height:280px;
  text-align:left;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.author{
  font-size:0.8em;
  font-weight:300;
}

@import './audioRecorder';
