<template>
  <div id="app">
    <div id="nav">
      <!--  Top menu navigator -->
      <router-link to="/" class="home-link"
        title="Back to the home page"
      >
      <!-- image of the logo -->
        
        <img class="navlogo" src="/img/logo/logo_150.png" />
        
      </router-link>
       <!-- ctrl+p brings up icon files -->
          <!-- go into icons.js -->
          <!-- go to fontawesome and get the one you want -->
          <!-- prefix with fa and camel case -->
          <!-- invoke with icon tag USING FONTAWESOME NAME for some reason -->

      <!-- all other nav elements -->
      <div class="navgeneral">
        <!-- Only display language selector when a language has been chosen -->
        <router-link v-if="user && user.language"
          :to="{name:'Language',params:user}"
          title="Language Selector"
        >
          <icon class="fa-2x" icon="language"/>
        </router-link>
        <!-- TODO: SET THIS URL -->
        <router-link to="/"
          title="Notifications">
          <icon class="fa-lg" icon="bell"/>
        </router-link>
        
        <!--  Login info -->
        <span class="login-section">
          <router-link :to="`/login?redirect=${encodedPage}`" class="login-link"
            title="Log in" v-if="!user || !user.username"
          >
            <icon class="fa-2x" icon="sign-in-alt"/>
          </router-link>
          <span v-else>
            
            <router-link to="/logout" class="logout-link"
              title="Log out"
            >
              <icon class="fa-2x" icon="sign-out-alt"/>
            </router-link>
          </span>
        </span>
        <br/>
        <!-- DISPLAY USERNAME WHEN LOGGED IN -->
        <!--<span class="username">{{user.username}}</span> -->
      </div>
    </div>
    <router-view/>
  </div>
</template>
<script>
import user from '@/mixins/user';
export default {
  mixins: [user],
  computed:{
    encodedPage(){
      return encodeURIComponent(this.$route.fullPath);
    }
  },
  created(){
    const {to,from} = this.$route.params ;
    this.setTo(to);
    this.setFrom(from);
    if(!this.user||!this.user.to||!this.user.from){
      this.$router.replace('/from');
    }
  }
}
</script>

<style lang="scss" >

@import './styles/colors.scss';
@import url('https://fonts.googleapis.com/css?family=Kreon|Ubuntu');
#app {

text-align:center;

}

#nav {

background-color: $flagblue;
padding:10px;
padding-top:15px;
padding-bottom:15px;
text-align:left;
margin-bottom:15px;
}
#nav a {
color:$flagwhite;
padding:5px;
}

.navgeneral{
  text-align:right;
  float:right;
}

.fa-2x{
  padding:5px;
  vertical-align: middle;
}
body{
  background-color:$flagwhite;
  height:1000px;
}
.username{
  font-size:16px;
  font-weight:bold;
  margin-bottom:10px;
}
</style>