<template>
  <div class="post-editor">
    <div class="header">
      <div v-if="postId">
        <h1>
          Update your {{isQuestion?'Question':'Guide'}}
        </h1>
      </div>
      <div class="askormake" v-else>
        <h1 v-if="isQuestion">
          Ask a Question
        </h1>
        <h1 v-else>
          Make a Guide
        </h1>
      </div>
    </div>
    <b-form class="editor-form" @submit="submit">
      <b-form-group class="needstobecentered" >
        <b-form-input type="text"
                      v-model="form.title"
                      required
                      :placeholder="titleLabel">
        </b-form-input>
      </b-form-group>
      <b-form-group class="needstobecentered">
        <b-form-textarea v-model="form.body"
                      required
                      placeholder="Details">
        </b-form-textarea>
      </b-form-group>
      <!-- Audio recording -->
      <!-- Click to start recording (says recording; click to stop) -->
      <b-button :variant="recording?'danger':'primary'" style="width:70%;margin-bottom:10px;" :class="{recording}"
        @click="recording=!recording"
      >
        <icon :icon="!recording?'microphone':'stop-circle'" />
        {{recording? 'Stop Recording' : 'Record Audio'}}
      </b-button>
      
        <audio controls > </audio>

</br>
      <p class="error" v-if="error">
        {{error}}
      </p>
      <b-button type="submit" variant="primary">Submit</b-button>
    </b-form>
  </div>
</template>

<script>

import posts from '@/mixins/posts';
import axios from 'axios';
import user from '@/mixins/user';
export default {
  mixins:[posts,user],
  data(){
    return {
      error:'',
      postId: this.$route.params.postId,
      form:{
        title:'',
        body:''
      },
      recording: false
    }
  },
  computed:{
    titleLabel(){
      return this.isQuestion?'Question':'Guide Title';
    }
  },
  methods:{
    async submit(evt){
      this.error = '';
      evt.preventDefault();
      const form = {
        author: this.user.username,
        type: this.postType,
        from: this.user.from,
        to: this.user.to,
        lang: this.user.language
      };
      Object.assign(form,this.form);
      // TODO: Some error checking, probably
      if(form.title.length<3){
        this.error = "Title too short!"
      }
      else if(form.body.length<12){
        this.error = "Content too short!"
      }
      if(this.error){ return ;}
      try{
        const response = await axios.post('http://localhost:8081/api/posts',form,{headers:{username:this.username}});
        // Route to this thing's own page
        this.$router.push({
          name:'Post',
          params:{postId:response.data.postId},
          query:{new:true}});
      }
      catch(err){
        this.error = "Something went wrong!";
        console.log(err);
      }
    }
  },
  create(){
    if(!this.user.username){
      this.$router.replace({name:'PostsDisplayMain',params:{postType:this.postType}});
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../styles/colors.scss';
@import '../styles/main.scss';
.askormake h1{
  padding-top:70px;
  padding-bottom:10px;
  font-size:1.6em;
}
.form-control{
  width:70%;
  max-width:300px;
}
.btn-primary:hover{
  background-color:none;
}
.recording{
  background-color:$flagred;
}
audio{
  border-radius:5px;
 
}
</style>