<template>
  <div class="home"></div>
</template>

<script>
import user from '../mixins/user';
export default {
  mixins:[user],
  name: 'home',
  created(){
    if(!this.user){
      this.$router.replace('/from');
    } 
    else if(this.user.language){
      // Go to posts!
      this.$router.replace({name:"Posts",params:this.user});
    }
    else{
      this.$router.replace({name:"WhereTo",params:this.user});
    }
  }
}
</script>
