<template>
  <div class="main">
    <!-- Show country re-selection link -->
    <SubNav />

    <!-- Language Chooser -->
    <h1 ref="myLanguage">
      <icon class="fa-lg" icon="language" />
       : <span v-if="user && user.language" class="user-language">
         {{languageName(user.language)}}
         </span>
    </h1>
    <!-- If language set, display it with option to continue -->
    <div v-if="user && user.language">
      <!-- Button for moving on to MAIN -->
      <router-link
        tag="b-button"
        style=""
        class="next-page-button"
        :to="mainPageUrl"
      >
        Continue
      </router-link>
    </div>
    <!-- Choices -->
    <div class="language-chooser-container">
      <div class="language-choice"
        v-for="code in languageCodes" :key="code"
        @click="setLanguage(code)"
      >
        {{languageName(code)}}
      </div>
    </div>
  </div>
</template>

<script>
// TODO: Fill out with Seth's extensive list
// TODO: Take most common languages for source/dest and put at top

import languages from '@/data/language_info';
const languageCodes = Object.keys(languages);
import countries from '@/data/country_info';
import SubNav from '@/components/SubNav';
import user from '@/mixins/user';
import smoothscroll from 'smoothscroll';

export default {
  mixins: [user],
  data(){
    return {
      languages,
      languageCodes,
      language:null 
    }
  },
  components:{SubNav},
  watch:{
    'user.language'(){
      this.$router.replace({name:"Language",params:this.user});
      smoothscroll(this.$refs.myLanguage);
    }
  },
  methods:{
    languageName(code){
      return languages[code].names[code];
    }
  },
  computed:{
    mainPageUrl(){
      return {name:'Posts',params:this.user};
    }
  },
  created(){
    this.language = this.$route.params.language || (this.user.language ? this.user.language : null);
    // Sort languages to put the most common ones for source/target at top
    ['to','from'].forEach(dir=>{
      countries[this.user[dir]].languages.reverse().forEach(lang=>{
        this.languageCodes.unshift(
          this.languageCodes.splice(this.languageCodes.indexOf(lang),1)[0]
        );
      });
    });
  }
}
</script>

<style lang="scss" scoped>
@import '../styles/colors.scss';
@import '../styles/main.scss';
.language-choice{
  font-size: 2rem;
  cursor: pointer;
  border-top: 1px solid lightgray;
  &:hover{
    color:$flaggreen;
  }
}
h1{

  text-align:center;
  padding:0;
  padding-top:40px;
  clear:all;
}
.user-language{
  color:$flaggreen;

}

.language-choice:nth-of-type(even){
  background-color:$flaggrey;

}

.next-page-button{
  padding:10px; 
  width:50%;
  max-width:170px;
  margin:10px; 
  margin-bottom:20px;
}
</style>
