<template>
  <div id="login-page">
    <h1>Enter your username</h1>
    <!--
    <b-form @submit="submitLogIn">
      <b-form-group>
        <b-form-input type="text"
                      v-model="newUser"
                      required>
        </b-form-input>
      </b-form-group>
      <b-button type="submit" variant="primary">
        Sign In
      </b-button>
    </b-form>
-->
    <input v-model="newUser"
        @keyup.enter="submitLogIn"
        type="text"
        placeholder="Your username"
      />

  </div>
</template>
<script>
import user from '@/mixins/user';
export default {
  mixins: [user],
  data(){
    return {
      newUser: ''
    }
  },
  methods:{
    submitLogIn(evt){
      evt.preventDefault();
      this.$nextTick(()=>{
        this.$router.push(
          this.$route.query.redirect || '/'
        );
      });
      this.logIn(this.newUser);
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../styles/colors.scss';
@import '../styles/main.scss';

input{
  border:1px solid $flagdarkblue;
  width:70%;
  max-width:300px;
  border-radius:6px;
  padding:5px;
  padding-top:4px;
  padding-bottom:4px;
  background-color:white;
  margin-bottom:10px;
}
.h1{
  padding-top:70px;
  padding-bottom:10px;
  font-weight:normal;
}

div[role=group]{
  border:2px solid black;
}
</style>