<template>
  <div id="logout-page">
    You are logged out!
    <router-link :to="this.$route.query.redirect || '/'">Go back</router-link>
  </div>
</template>
<script>
import user from '@/mixins/user';
export default {
  mixins: [user],
  created(){
    this.logOut();
  }
}
</script>