<template>
  <div class="main">
    <!-- This thing basically just re-routes to QUESTIONS -->
    <SubNav showPostTypeSelector="true" />
    <router-view />
  </div>
</template>

<script>

import SubNav from '@/components/SubNav';
import user from '@/mixins/user';
import smoothscroll from 'smoothscroll';

export default {
  mixins: [user],
  components:{SubNav},
  watch:{
    '$route.params.postType'(){
      if(!this.$route.params.postType){
        this.goToQuestions();
      }
    }
  },
  methods:{
    goToQuestions(){
      this.$router.replace({name:'PostsDisplayMain',params:{postType:'questions'}});
    }
  },
  created(){
    this.goToQuestions();
  }
}
</script>