<template>
  <div ref='top' class="post" v-if="post">
    <div v-if="$route.query.new">
      Your {{isQuestion?'Question':'Guide'}}
      has been submitted!
    </div>
   
    <div class="header clearfix" style="padding-top:70px;">
      <div style="padding-bottom:10px" class="">
        <VoteBox :count="post.upvotes-post.downvotes" :url="postUrl"/>
        <icon icon="clock" class="clock " style="margin-right:4px;float:left;"/>
        <span class="date" style="float:left;">{{post.createdAt}}</span>
        <br/>
      </div>

      <div style="display:inline;">
        <h2 class="title" style="text-align:left;">{{post.title}}</h2>
        <div class="author" style="text-align:right;padding-right:30px;font-weight:bold;">-{{post.author}}</div>
      </div>
      
    </div>
<!-- insert audio into this div -->
      <div>
        <audio controls > </audio>
      </div>
    <div class="body clearfix" >
      {{post.body}}
    <!-- ADAM! When 'Reply button' is hit, spawn the new-commnet-container below-->
    
        
      <div class=replybutton v-if="user.username">
        <b-button class="subreply" 
        variant="primary" :class="{chosen}" @click="chosen=!chosen">Reply</b-button>
      </div>
    </div>

    <!-- COMMENTS -->
    <!-- New Comment -->
    <div class="new-comment-container" v-if="user.username && chosen"  >

      <textarea v-if="isQuestion" placeholder="Provide an answer" v-model="comment"></textarea>
      <textarea v-else placeholder="Comment" v-model="comment"></textarea>
      <b-button class="subbut" v-if="comment.length>10" @click="submitComment" variant="primary">Submit</b-button>
      
        
    </div>
    <!-- Existing Comments -->
    <div class="comments clearfix" style="margin-top:20px;">
      <div class="comment clearfix" style="display:block;"
        v-for="comment in comments"
        :key="comment._id"
      >
        <VoteBox :count="comment.upvotes-comment.downvotes" :url="commentUrl(comment._id)" />
        <span>{{comment.createdAt}}</span>
        <p>
          {{comment.body}}
        </p>
        <h3 class="author">-{{comment.author}}</h3>
      </div>
    </div>
  </div>
</template>

<script>
import VoteBox from "@/components/VoteBox";
import posts from '@/mixins/posts';
import user from '@/mixins/user';
import axios from 'axios';
export default {
  mixins:[posts,user],
  components: {VoteBox},
  data(){
    return {
      postId: this.$route.params.postId,
      post: null,
      comment:'',
      comments: [],
      chosen:false
    }
  },
  computed:{
    postUrl(){
      return `http://localhost:8081/api/posts/${this.postId}`;
    }
  },
  methods:{
    commentUrl(commentId){
      return `${this.postUrl}/comments/${commentId}`;
    },
    async fetchComments(){
      try{
        const response = await axios.get(
          `http://localhost:8081/api/posts/${this.postId}/comments`);
        this.comments = response.data.comments||[] ;
      }
      catch(err){
        this.error = "Something went wrong!";
        console.log(err);
      }
    },
    async submitComment(){
      try{
        const response = await axios.post(
          `http://localhost:8081/api/posts/${this.postId}/comments`,
          {body:this.comment,author:this.user.username,lang:this.user.language},
          {headers:{username:this.username}});
        this.comment = '' ;
        this.chosen = false;
        this.fetchComments();
      }
      catch(err){
        this.error = "Something went wrong!";
        console.log(err);
      }
    }
  },
  async created(){
    // Get the post
    try{
      const response = await axios.get(this.postUrl);
      this.post = response.data ;
      this.fetchComments();
      this.post.createdAt = new Date(Date.now()-(Math.random()*10000000000)).toLocaleString();
    }
    catch(err){
      console.log(err);
      //this.$router.replace({name:'PostsDisplayMain',params:{postType:this.postType}})
    }

  }
}
</script>

<style lang="scss" scoped>
@import '../styles/colors.scss';
@import '../styles/main.scss';


.header{
  padding-top:50px;
} 
.title{
  font-size:1.3em;
  font-weight:600;
}
.date{
  font-size: 80%;
  color: gray;
}
.body{
  text-align:left;
  background:$flagwhite;
  border-radius:5px;
  padding:10px;
  margin:15px;
  border:1px solid $flagdarkblue;
  margin-top:5px;
}
.author{
  color:$flagblue;
  text-align:right;
  padding-right:15px;

}
h3{
  font-size:20px;
}
.new-comment-container textarea{
  width: 90%;
  border-radius:3px;
}
.subbut
{
  margin:10px;
  width:40%;
  margin-bottom:30px;
}
.comment:nth-of-type(odd){
  background-color:$flaggrey;
}
.comment{
  text-align:left;
  padding:5px;
  border-radius:5px;
}
audio{
  border-radius:5px;
}
.subreply
{
  float:right;
  margin-top:5px;
}
.chosen{
  display:none;
}
</style>