<template>
  <div class="post-display-main">

    <!-- HEADER -->
    <h1 v-if="postType=='questions'">
      Questions &amp; Answers
    </h1>
    <h1 v-else>
      Guides
    </h1>

    <!-- SEARCH -->
    <div class="search-container">
      <icon icon="search" class="search fa-lg" style="margin-right:10px;"/>
      <input v-model="searchText"
        @keyup.enter="submitSearch"
        type="text"
        placeholder="What are you looking for?"
      />
      <icon v-if="searchText.length" icon="times-circle" class="cancel fa-lg" style="margin-left:5px;"/>
    </div>

    <p class="loginask" v-if="!user.username">
        Want to {{isQuestion?'ask a Question':'add a Guide'}}?
        <router-link :to="`/login?redirect=${encodeURIComponent($route.fullPath)}`">
          Log in!
        </router-link>
      </p>
    <!-- RESULTS -->
    <div class="search-results">
      


      <div class="sort-options" style="margin-top:0;">


        <!-- TODO: Implement sorting... -->
        <div class="top" style="display:inline-block;padding:5px;"
          @click="sort='top'"
        >
          Top
        </div>
        <div class="new" style="display:inline-block;padding:5px;"
          @click="sort='new'"
        >
          New
        </div>
         <!-- NEW POST BUTTON -->
      <div  class="ask" v-if="user.username" style="display:inline-block;padding:5px;">
        <router-link tag="span" 
        class="ask" style="margin-top:0;"
          :to="{name:'EditPost'}"
          
        >
      <!-- convert to buttons -->
        <span v-if="isQuestion">
          Ask a new Question!
        </span>
        <span v-else>
          Create a new Guide!
        </span>
      </router-link>
      
    </div>
      </div>
      
      <div class="search-result clearfix"  style="text-align:left;"
        v-for="post in posts" :key="post._id"
      >




        <!-- HUD SECTION -->
        <div class="result-hud" style="float:left;padding-right:10px;padding-bottom:10px">
          <div class="upvotes">
            <icon icon="caret-up" class="upvotes fa-lg" style="margin-right:8px;"/>
            {{post.upvotes||0}}
          </div>
          <div class="comments">
            <icon icon="comments" class="comments " style="margin-right:4px;"/>
            {{post.commentCount||0}}
          </div>
          
        </div>

        <!-- DEETS SECTION -->
        <div class="result-details" style="display:inline;">
          <router-link class="title" 
            :to="{name:'Post',params:{postId:post._id}}"
          >
            {{post.title}}
          </router-link>
            
          </div>
            <div class="audio">
              <icon icon="volume-up" class="volume " style="float:right;"/>
            </div>
            <div class="author" style="float:right;padding-right:15px;font-weight:600;">
              -{{post.author}}
            </div>
      </div>
    </div>

  </div>
</template>

<script>
import axios from 'axios';
import posts from '@/mixins/posts';
import user from '@/mixins/user';
export default {
  mixins:[posts,user],
  data(){
    return {
      searchText: '',
      posts: [],
      sort:'top'
    }
  },
  watch:{
    postType(){
      this.submitSearch();
    },
    sort(){
      this.submitSearch();
    }
  },
  methods:{
    async submitSearch(){
      const response = await axios.get(
        'http://localhost:8081/api/posts',
        {params:{
          search: this.searchText,
          type: this.postType,
          sort: this.sort,
          from: this.user.from,
          to:this.user.to
        }});
      this.posts = response.data.posts;
    }
  },
  created(){
    this.submitSearch();
  }
}
</script>

<style lang="scss" scoped>
@import '../styles/colors.scss';
@import '../styles/main.scss';

.post-display-main h1{
  padding-top:70px;
  padding-bottom:10px;
  font-size:1.6em;
}
.search-container input{
  border:1px solid $flagdarkblue;
  width:70%;
  max-width:300px;
  border-radius:6px;
  padding:5px;
  padding-top:4px;
  padding-bottom:4px;
  background-color:white;
  margin-bottom:10px;
}
.search-container .search{
  color:$flagblue;
}
.search-container .cancel{
  color:$flagred;
}
.loginask{
  font-weight:400;
  font-size:0.8em;
  margin-top:0;
}
.top{
  cursor: pointer;
}
.search-result{
border:2px solid $flaggrey;
border-radius:3px;
padding:10px;

}
.search-result:nth-of-type(odd){
  background-color:$flaggrey;

}
.sort-options{
  text-align:left;
  border-radius:15px;
  margin-top:30px;
  margin-bottom:3px;
}
.sort-options div{ 
background:$flagdarkblue;
border-radius:5px;
margin-top:30px;
margin-right:5px;
font-size:1em;
color:$flagwhite;

}
.title{
font-size:1.1em;

}
.author{
  font-size:0.8em;
  font-weight:300;
}
.audio{
  color:$flaggreen;
}
.sort-options .ask{
  margin-top:0;
  background:$flagblue;
}
</style>