<template>
  <div ref='where' class="where-page">
    <!-- Giant container for the two flags -->
    <!-- When one is selected it will have the 'selected' class -->
    <h1 style="padding-top:20px;font-size:1.8em">Where are you moving?</h1>
    <div class="where-flags">
      <div class="where-flag-container from"  
        :class="{selected:flagListType=='from'}"
        @click="setSelectType('from')"
      >
        <img class="where-flag from"  v-if="from" :src="flagUrl(from)"/>
      </div>

    <!-- Arrow between -->
    <icon icon="chevron-circle-right" class="arrow fa-lg" />


      <div class="where-flag-container to" 
      :class="{selected:flagListType=='to'}"
        @click="setSelectType('to')"
      >
        <img class="where-flag to" v-if="from" :src="flagUrl(to)"/>
      </div>
    </div>

    <!-- Button for moving on to LANGUAGE SELECT -->
    <br/>
    <router-link v-if="canSelectLanguage"
      tag="b-button" style="margin-top:20px;"
      class="next-page-button"
      :to="langPageUrl"
    >
      <icon class="fa-2x" icon="language" />
      Choose Your Language
    </router-link>

    <!-- Container for listing all the small flags for CHOOSING -->
    <div ref='list' class="country-list fadeIn" v-if='flagListType' :class="flagListType">
      <!-- Each turn of the loop creates a flag -->
      <!-- When the class is "to" vs "from" you'll want to change
           justifiation based on your design. -->
      <div v-for="country in countryCodes" :key="country"
        class="country-choice" @click="setCountry(country)"
      >
        <!-- Flag image -->
        <img class="where-flag" :class="flagListType"
          :src="flagUrl(country,30)"/>
        <!-- Country name (will need to be in diff languages later) -->
        <span class='country-name'>
          {{countryName(country)}}
        </span>
      </div>
    </div>
  </div>
</template>

<script>
import countries from '@/data/country_info';
import flags from '@/mixins/flags';
import smoothscroll from 'smoothscroll';
import user from '@/mixins/user';
const countryCodes = Object.keys(countries);

export default {
  mixins: [flags,user],
  data(){
    return {
      from: this.$route.params.from || 'default_from',
      to: this.$route.params.to || 'default_to',
      flagListType:'',
      countryCodes,
      countries
    }
  },
  computed:{
    canSelectLanguage(){
      return this.from!='default_from' && this.to!='default_to' && !this.flagListType;
    },
    langPageUrl(){
      return {name:'Language',params:{
        to:this.to, from:this.from
      }};
    }
  },
  watch:{
    to(){
      this.setTo(this.to);
      this.resetSelect();
      this.updateUrl();
    },
    from(){
      this.setFrom(this.from);
      this.resetSelect();
      this.updateUrl();
    }
  },
  methods:{
    countryName(code){
      const names = this.countries[code].names ;
      const languages = this.countries[code].languages;
      if(user.language){
        if(languages.indexOf(user.language) && names[user.language]){
          return names[user.language];
        }
      }
      // Take the first one that exists, fall back to English
      for(const lang of languages){
        if(names[lang]){ return names[lang];}
      }
      return names['en'];
    },
    setCountry(code){
      this[this.flagListType] = code ;
    },
    setSelectType(type){
      this.flagListType = type ;
    },
    resetSelect(){
      smoothscroll(this.$refs.where,500);
      const that = this;
      setTimeout(()=>{
        that.flagListType = '' ;
      },500);
    },
    updateUrl(){
      this.$router.push(`/from/${this.from}/to/${this.to}`);
    }
  }
}
</script>


<style lang="scss" scoped>
@import '../styles/colors.scss';
@import '../styles/main.scss';
.where-flags{
  max-width: 620px;
  display:inline-block;
  .where-flag-container{
    display:inline-block;
    
    &.selected img{
      border-radius: 10px;
      border: 6px solid $flaggreen;
      background-color: $flaggreen;

    }
    .where-flag{
      cursor: pointer;
      display: inline-block;
      height: 100px;
      margin:10px;
    }
  }
}
.where-flag-container img{
  max-width:140px;
}
.country-list{
  font-family:"Ubuntu";
  font-weight:bold;
  color:$flagdarkblue;
  
  padding:10px;
  .country-choice{
    cursor: pointer;
  }
}
.country-choice{
  margin-bottom:10px;
  text-align:center;
  & img{
    float:left;
  }
}
.to .country-choice  img{
  float:right;
}
.country-choice:nth-of-type(even){
  background-color:$flaggrey;

}
.next-page-button{
  margin-bottom: 300px;
}
.arrow{
  color:$flagdarkblue;

}

</style>
