<template>
  <router-link class="where" 
    title="Change from/to countries"
    :to="{name:'WhereTo',params:{
      from: $route.params.from,
      to: $route.params.to
    }}"
  >
    <img class="from" :src="flagUrl($route.params.from,30)" />
    <icon icon="caret-right" class="arrow fa" />
    <img class="to" :src="flagUrl($route.params.to,30)" />
  </router-link>
</template>

<script>
import flags from "@/mixins/flags";
export default {
  mixins:[flags]
}
</script>


<style lang="scss" scoped>
@import '../styles/colors.scss';
a.where{
  float:right;
  padding-top:0px;
  margin-top:0px;
}
img {
padding-right:5px;
}
.arrow{
margin-right:4px;
}

</style>