<template>
  <div class="subnav">
    <!-- Choosing what kind of things to view: questions/guides -->
    <div class="post-type-selectors" v-if="showPostTypeSelector">
      <router-link class="questions"
        :class="{selected:isQuestion}"
        :to="postsUrl('questions')"
      >
        <icon class="post-type-icon" icon="question-circle" size="2x" />
      </router-link>
      <router-link class="guides"
        :class="{selected:isGuide}"
        :to="postsUrl('guides')"
      >
        <icon class="icon" icon="book" size="2x" />
      </router-link>
    </div>
    <!-- Link back to from->to selector -->
    <ChangeCountryLink/>
  </div>
</template>

<script>
import ChangeCountryLink from '@/components/ChangeCountryLink';
import user from "@/mixins/user";
import posts from '@/mixins/posts';
export default {
  mixins:[user,posts],
  props:['showPostTypeSelector'],
  components:{ChangeCountryLink},
  methods:{
    postsUrl(postType){
      const params = {postType};
      Object.assign(params,this.user);
      return {name:'PostsDisplayMain',params};
    }
  }
}
</script>


<style lang="scss" scoped>
@import '../styles/colors.scss';
.subnav{
  
}
a{
  color:$flagdarkblue;
}
.post-type-selectors{
  float:left;
  margin-left:10px;
  color:$flagdarkblue;
}
.post-type-icon {
 
}
a:hover.selected{
color:$flagblue;
}
a.selected{
color:$flagblue;
}
</style>