<template>
  <div class="votes" style="width:35px;padding-left:10px;float:left;padding-right:15px;padding-bottom:10px">
    
    <div class="upvote-button votebutton" style="" >
      <icon icon="caret-up" class="upvotes fa-2x" />
      <!-- TODO: Add function -->
    </div>
    <div class="count">
      {{count||0}}
    </div>
    <div class="downvote-button votebutton" >
      <icon icon="caret-down" class="upvotes downvotes fa-2x" />
      <!-- TODO: Add function -->
    </div>
    
  </div>
</template>

<script>
export default {
  props:['count','url'],
  
}
</script>
<style lang="scss" scoped>
@import '../styles/colors.scss';
@import '../styles/main.scss';

.votebutton{
color:$flagblue;
}

.upvotes{
text-align:center;
padding:0;
margin:0;
height:30px;
}
.upvotes:hover{
color:$flaggreen;
}
.downvotes:hover{
color:$flagred;
}
.count{
font-weight:bold;
font-size:1em;
}
.votes{
  text-align:center;
}

</style>